@font-face {
    font-family: Neyagawa;
    src: url(../FONT/NeyagawaDemoRegular.ttf);
  }

body{
    background-image: url(../IMG/BK1.png);
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center center;
   padding: 0;
   margin: 0;
}
.Area{
    width:98vw;
    height:95vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: left;
    padding: 0;
    margin: 0;
}

/*.LeftSide, .RightSide{
    border: solid #000;
}*/

.LoginTxt{
    font-family: Neyagawa;
    color: #ccc;
    margin: 0;
    font-size: 60px;
}


.CadDiv{
    margin-top: 10px;
}

.LinkDiv{
    text-align: right;
    margin-right: 25%;
}

.PerfilIcon{
    width: 5%;
    margin-right: 10px;
}

.AreaInput{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top:10px;
 margin-bottom: 10px;
}

.CadastroLink, .Link{
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
}

.CadastroLink:hover, .Link:hover{
    color:#38d3ff;
}



.Login:focus, .Senha:focus{
    color:#ccc;
    font-weight: bold;
    box-shadow: 0 0 0 0;
    outline: none;
}

.Login, .Senha{
    font-size: 16px;
    margin: 5px;
    border: none;
    width: 50%;
    height: 26px;
    background-color: transparent;
    border-bottom:2px solid #ccc ;
    color:#ccc;
    font-weight: bold;
}

.Login::placeholder, .Senha::placeholder{
    color: #ccc;
    opacity: 0.6;
}

.Enviar{
    margin-top: 50px;
    padding-top: 15px !important;
    padding: 5px 35px;
    font-family: Neyagawa;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #487cff;
    color:white;
    border-radius: 10px;
    border: none;
  transition: transform 0.2s, opacity 0.2s;

}

.Error{
    color:#ff0000;
    text-shadow: black 1px 0 6px, 1px 1px black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Enviar:hover{
    background-color: #38d3ff;
    color:#2a51b4;
    transform: scale(1.15);
    transition: transform 0.1s, opacity 0.1s;
    
}


.Enviar:active{
    background-color: #487cff;
    color:white;
    transform: scale(1.0);
}

.LeftSide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
 
}

.RightSide{
    width: 50%;
    height: 80%;
    text-align: center;
}

.PsiMind{
    width: 70%;

}

.BtnExit{
    background-color: transparent;
    color:#38d3ff;
    font-weight: bold;
    font-size: 20px;
    width: 6%;
    height: 10%;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
}

.BtnExit:hover{
    background-color: #38d3ff;
    color: #2a51b4;
    transition: transform 0.2s, opacity 0.2;
}

.BtnExit:active{
    transform: scale(0.9);
}

.Exit{
    display: flex;
    align-items:end;
    justify-content:end;
}